<div class="form-group">
    <label>Password</label>
    <input type="password"
           [class.is-invalid]="control.invalid && control.touched"
           placeholder="{{label}}"
           [formControl]="control"
           class="form-control col">
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter a {{label}}.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatch')">
        Your passwords are not matching.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('minlength')">
        Please enter a confirmation password longer than 4 characters.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('maxlength')">
        Please enter a confirmation password shorter than 8 characters.
    </div>
</div>
